body {
    background: linear-gradient(120deg, #c7c9c5, #8c52ff);
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
}

.home-page {
    height: 80vh;
    display: flex;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/Images/big-phone.png');
    background-position: center;
    background-size: cover;
    justify-content: space-between;
    margin-top: 45px;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    position: relative;
    flex: 1;
}

.header-divider {
    border: none;
    border-top: 2px solid white;
    margin: 20px 0;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 50px;
}

.text-content {
    text-align: center;
    flex: 1;
    color: aliceblue;
}

.text-content .full-text {
    display: block;
}

.text-content .truncated-text {
    display: none;
}

.text-content h1 {
    font-size: 4vw;
    color: white;
    margin-bottom: 25px;
    line-height: 1.1;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
    font-weight: 600;
}

.explore-btn {
    display: inline-flex;
    align-items: center;
    background-color: #f3d9ff;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.search-icon {
    margin-left: 10px;
}

.image-content {
    flex: 1;
    text-align: right;
    max-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.device-mockup {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .home-page {
        margin-top: 0;
        border-top: none;
    }

    .hero {
        padding: 0;

    }

    .text-content .full-text {
        display: none;
    }

    .text-content .truncated-text {
        display: block;
    }

.content {
    flex-direction: column;
}

h1 {
    font-size: 5vw;
}

p {
    font-size: 19px;
}

.image-content {
    margin-top: 20px;
}

}