.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  
}

.footer-social-media {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer-social-media h4{
   font-size: 18px;
}

.footer-social-media .links{
  display: flex;
  gap: 8px;
  font-size: small; 
}

.footer-social-media li {
  margin: 0 15px;
  text-align: left;
}

.footer-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 2px; 
}

.footer-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-content p{
      font-size: 15px;
}
.footer-social-media h4{
   font-size: 17px;
}
}