.add-student {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: whitesmoke;
}

.addstudent-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.addstudent-main {
  flex: 1;
  overflow-y: auto;
  align-items: center;
}
.addstudent-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 37px;
}
.login-card {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  flex:  1;
}

.login-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: normal;
}

.login-divider {
  height: 2px;
  background-color: #6c5ce7;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input, select{
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

input, select:focus {
  outline: none;
  border-bottom-color: #6c5ce7;
}

.login-button {
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #5b4cdb;
}